https://www.transtats.bts.gov/Fields.asp?Table_ID=236

In [2]:
from __future__ import division #, print_function # Imports from __future__ since we're running Python 2

In [3]:
#%load_ext autoreload
%reload_ext autoreload
%autoreload 2

In [79]:
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
random_state = 0
%matplotlib inline
plt.style.use('ggplot')
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from datetime import datetime

from helpers.feature_engineering import dateStrToDayYear, getMappingOfSimilarCategoricalColumns, \
    compareSimilarCategoricalColumns 
from helpers.my_one_hot_encoder import MyOneHotEncoder
from helpers.py_helpers import is_number
from scipy.stats import skew, kurtosis
from helpers.outliers import MyOutliers

In [5]:
rng = np.random.RandomState(seed=random_state)

# Flying to New York City - ???

In [27]:
target_col = 'IS_DELAYED'

In [6]:
path_data = os.path.realpath(os.path.join(os.getcwd(), '../Data', 'binary_train_data_numerical.csv'))
assert os.path.isfile(path_data)
path_data

'/home/student/pligor.george@gmail.com/msc_Artificial_Intelligence/dme_Data_Mining/dmedatarats/Data/binary_train_data_numerical.csv'

In [7]:
df = pd.read_csv(path_data, delimiter = ',', header=0)
df.shape

(186308, 533)

In [8]:
df.sample(10, random_state=random_state)

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_NUM,DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,DISTANCE,DISTANCE_GROUP,...,DEP_TIME_BLK_8,DEP_TIME_BLK_9,DEP_TIME_BLK_10,DEP_TIME_BLK_11,DEP_TIME_BLK_12,DEP_TIME_BLK_13,DEP_TIME_BLK_14,DEP_TIME_BLK_15,DEP_TIME_BLK_16,DEP_TIME_BLK_17
163263,3,9,27,2,199,1622.0,52.0,3.0,187.0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
132397,4,12,4,7,416,18.0,88.0,5.0,1176.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15778,2,6,20,1,5443,1348.0,59.0,3.0,292.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
156958,4,12,2,5,71,2006.0,28.0,1.0,1990.0,8,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
168959,4,11,30,3,1515,1949.0,42.0,2.0,853.0,4,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
148799,2,5,2,1,2066,1357.0,45.0,3.0,544.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
152433,2,4,8,5,1310,2152.0,12.0,0.0,717.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
146704,2,6,10,5,183,1150.0,-10.0,-1.0,944.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118445,3,7,25,1,51,1013.0,13.0,0.0,4983.0,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183495,2,6,28,2,5210,655.0,-5.0,-1.0,617.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df.info()  #here we are verifying that everything is numerical

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186308 entries, 0 to 186307
Columns: 533 entries, QUARTER to DEP_TIME_BLK_17
dtypes: bool(1), float64(525), int64(7)
memory usage: 756.4 MB

In [16]:
is_number("0")

True

In [32]:
columns_one_hot_encoded = np.array([col for col in df.columns if is_number(col[-1])])
columns_one_hot_encoded

array(['UNIQUE_CARRIER_0', 'UNIQUE_CARRIER_1', 'UNIQUE_CARRIER_2',
       'UNIQUE_CARRIER_3', 'UNIQUE_CARRIER_4', 'UNIQUE_CARRIER_5',
       'UNIQUE_CARRIER_6', 'UNIQUE_CARRIER_7', 'UNIQUE_CARRIER_8',
       'UNIQUE_CARRIER_9', 'UNIQUE_CARRIER_10', 'ORIGIN_0', 'ORIGIN_1',
       'ORIGIN_2', 'ORIGIN_3', 'ORIGIN_4', 'ORIGIN_5', 'ORIGIN_6',
       'ORIGIN_7', 'ORIGIN_8', 'ORIGIN_9', 'ORIGIN_10', 'ORIGIN_11',
       'ORIGIN_12', 'ORIGIN_13', 'ORIGIN_14', 'ORIGIN_15', 'ORIGIN_16',
       'ORIGIN_17', 'ORIGIN_18', 'ORIGIN_19', 'ORIGIN_20', 'ORIGIN_21',
       'ORIGIN_22', 'ORIGIN_23', 'ORIGIN_24', 'ORIGIN_25', 'ORIGIN_26',
       'ORIGIN_27', 'ORIGIN_28', 'ORIGIN_29', 'ORIGIN_30', 'ORIGIN_31',
       'ORIGIN_32', 'ORIGIN_33', 'ORIGIN_34', 'ORIGIN_35', 'ORIGIN_36',
       'ORIGIN_37', 'ORIGIN_38', 'ORIGIN_39', 'ORIGIN_40', 'ORIGIN_41',
       'ORIGIN_42', 'ORIGIN_43', 'ORIGIN_44', 'ORIGIN_45', 'ORIGIN_46',
       'ORIGIN_47', 'ORIGIN_48', 'ORIGIN_49', 'ORIGIN_50', 'ORIGIN_51',
       'ORIGIN_52', 'ORIGIN_53', 'ORIGIN_54', 'ORIGIN_55', 'ORIGIN_56',
       'ORIGIN_57', 'ORIGIN_58', 'ORIGIN_59', 'ORIGIN_60', 'ORIGIN_61',
       'ORIGIN_62', 'ORIGIN_63', 'ORIGIN_64', 'ORIGIN_65', 'ORIGIN_66',
       'ORIGIN_67', 'ORIGIN_68', 'ORIGIN_69', 'ORIGIN_70', 'ORIGIN_71',
       'ORIGIN_72', 'ORIGIN_73', 'ORIGIN_74', 'ORIGIN_75', 'ORIGIN_76',
       'ORIGIN_77', 'ORIGIN_78', 'ORIGIN_79', 'ORIGIN_80', 'ORIGIN_81',
       'ORIGIN_82', 'ORIGIN_83', 'ORIGIN_84', 'ORIGIN_85', 'ORIGIN_86',
       'ORIGIN_87', 'ORIGIN_88', 'ORIGIN_89', 'ORIGIN_90', 'ORIGIN_91',
       'ORIGIN_92', 'ORIGIN_93', 'ORIGIN_94', 'ORIGIN_95', 'ORIGIN_96',
       'ORIGIN_97', 'ORIGIN_98', 'ORIGIN_99', 'ORIGIN_100', 'ORIGIN_101',
       'ORIGIN_102', 'ORIGIN_103', 'ORIGIN_104', 'ORIGIN_CITY_NAME_0',
       'ORIGIN_CITY_NAME_1', 'ORIGIN_CITY_NAME_2', 'ORIGIN_CITY_NAME_3',
       'ORIGIN_CITY_NAME_4', 'ORIGIN_CITY_NAME_5', 'ORIGIN_CITY_NAME_6',
       'ORIGIN_CITY_NAME_7', 'ORIGIN_CITY_NAME_8', 'ORIGIN_CITY_NAME_9',
       'ORIGIN_CITY_NAME_10', 'ORIGIN_CITY_NAME_11', 'ORIGIN_CITY_NAME_12',
       'ORIGIN_CITY_NAME_13', 'ORIGIN_CITY_NAME_14', 'ORIGIN_CITY_NAME_15',
       'ORIGIN_CITY_NAME_16', 'ORIGIN_CITY_NAME_17', 'ORIGIN_CITY_NAME_18',
       'ORIGIN_CITY_NAME_19', 'ORIGIN_CITY_NAME_20', 'ORIGIN_CITY_NAME_21',
       'ORIGIN_CITY_NAME_22', 'ORIGIN_CITY_NAME_23', 'ORIGIN_CITY_NAME_24',
       'ORIGIN_CITY_NAME_25', 'ORIGIN_CITY_NAME_26', 'ORIGIN_CITY_NAME_27',
       'ORIGIN_CITY_NAME_28', 'ORIGIN_CITY_NAME_29', 'ORIGIN_CITY_NAME_30',
       'ORIGIN_CITY_NAME_31', 'ORIGIN_CITY_NAME_32', 'ORIGIN_CITY_NAME_33',
       'ORIGIN_CITY_NAME_34', 'ORIGIN_CITY_NAME_35', 'ORIGIN_CITY_NAME_36',
       'ORIGIN_CITY_NAME_37', 'ORIGIN_CITY_NAME_38', 'ORIGIN_CITY_NAME_39',
       'ORIGIN_CITY_NAME_40', 'ORIGIN_CITY_NAME_41', 'ORIGIN_CITY_NAME_42',
       'ORIGIN_CITY_NAME_43', 'ORIGIN_CITY_NAME_44', 'ORIGIN_CITY_NAME_45',
       'ORIGIN_CITY_NAME_46', 'ORIGIN_CITY_NAME_47', 'ORIGIN_CITY_NAME_48',
       'ORIGIN_CITY_NAME_49', 'ORIGIN_CITY_NAME_50', 'ORIGIN_CITY_NAME_51',
       'ORIGIN_CITY_NAME_52', 'ORIGIN_CITY_NAME_53', 'ORIGIN_CITY_NAME_54',
       'ORIGIN_CITY_NAME_55', 'ORIGIN_CITY_NAME_56', 'ORIGIN_CITY_NAME_57',
       'ORIGIN_CITY_NAME_58', 'ORIGIN_CITY_NAME_59', 'ORIGIN_CITY_NAME_60',
       'ORIGIN_CITY_NAME_61', 'ORIGIN_CITY_NAME_62', 'ORIGIN_CITY_NAME_63',
       'ORIGIN_CITY_NAME_64', 'ORIGIN_CITY_NAME_65', 'ORIGIN_CITY_NAME_66',
       'ORIGIN_CITY_NAME_67', 'ORIGIN_CITY_NAME_68', 'ORIGIN_CITY_NAME_69',
       'ORIGIN_CITY_NAME_70', 'ORIGIN_CITY_NAME_71', 'ORIGIN_CITY_NAME_72',
       'ORIGIN_CITY_NAME_73', 'ORIGIN_CITY_NAME_74', 'ORIGIN_CITY_NAME_75',
       'ORIGIN_CITY_NAME_76', 'ORIGIN_CITY_NAME_77', 'ORIGIN_CITY_NAME_78',
       'ORIGIN_CITY_NAME_79', 'ORIGIN_CITY_NAME_80', 'ORIGIN_CITY_NAME_81',
       'ORIGIN_CITY_NAME_82', 'ORIGIN_CITY_NAME_83', 'ORIGIN_CITY_NAME_84',
       'ORIGIN_CITY_NAME_85', 'ORIGIN_CITY_NAME_86', 'ORIGIN_CITY_NAME_87',
       'ORIGIN_CITY_NAME_88', 'ORIGIN_CITY_NAME_89', 'ORIGIN_CITY_NAME_90',
       'ORIGIN_CITY_NAME_91', 'ORIGIN_CITY_NAME_92', 'ORIGIN_CITY_NAME_93',
       'ORIGIN_CITY_NAME_94', 'ORIGIN_CITY_NAME_95', 'ORIGIN_CITY_NAME_96',
       'ORIGIN_CITY_NAME_97', 'ORIGIN_CITY_NAME_98', 'ORIGIN_CITY_NAME_99',
       'ORIGIN_CITY_NAME_100', 'ORIGIN_STATE_ABR_0', 'ORIGIN_STATE_ABR_1',
       'ORIGIN_STATE_ABR_2', 'ORIGIN_STATE_ABR_3', 'ORIGIN_STATE_ABR_4',
       'ORIGIN_STATE_ABR_5', 'ORIGIN_STATE_ABR_6', 'ORIGIN_STATE_ABR_7',
       'ORIGIN_STATE_ABR_8', 'ORIGIN_STATE_ABR_9', 'ORIGIN_STATE_ABR_10',
       'ORIGIN_STATE_ABR_11', 'ORIGIN_STATE_ABR_12', 'ORIGIN_STATE_ABR_13',
       'ORIGIN_STATE_ABR_14', 'ORIGIN_STATE_ABR_15', 'ORIGIN_STATE_ABR_16',
       'ORIGIN_STATE_ABR_17', 'ORIGIN_STATE_ABR_18', 'ORIGIN_STATE_ABR_19',
       'ORIGIN_STATE_ABR_20', 'ORIGIN_STATE_ABR_21', 'ORIGIN_STATE_ABR_22',
       'ORIGIN_STATE_ABR_23', 'ORIGIN_STATE_ABR_24', 'ORIGIN_STATE_ABR_25',
       'ORIGIN_STATE_ABR_26', 'ORIGIN_STATE_ABR_27', 'ORIGIN_STATE_ABR_28',
       'ORIGIN_STATE_ABR_29', 'ORIGIN_STATE_ABR_30', 'ORIGIN_STATE_ABR_31',
       'ORIGIN_STATE_ABR_32', 'ORIGIN_STATE_ABR_33', 'ORIGIN_STATE_ABR_34',
       'ORIGIN_STATE_ABR_35', 'ORIGIN_STATE_ABR_36', 'ORIGIN_STATE_ABR_37',
       'ORIGIN_STATE_ABR_38', 'DEST_0', 'DEST_1', 'DEST_2', 'DEST_3',
       'DEST_4', 'DEST_5', 'DEST_6', 'DEST_7', 'DEST_8', 'DEST_9',
       'DEST_10', 'DEST_11', 'DEST_12', 'DEST_13', 'DEST_14', 'DEST_15',
       'DEST_16', 'DEST_17', 'DEST_18', 'DEST_19', 'DEST_20', 'DEST_21',
       'DEST_22', 'DEST_23', 'DEST_24', 'DEST_25', 'DEST_26', 'DEST_27',
       'DEST_28', 'DEST_29', 'DEST_30', 'DEST_31', 'DEST_32', 'DEST_33',
       'DEST_34', 'DEST_35', 'DEST_36', 'DEST_37', 'DEST_38', 'DEST_39',
       'DEST_40', 'DEST_41', 'DEST_42', 'DEST_43', 'DEST_44', 'DEST_45',
       'DEST_46', 'DEST_47', 'DEST_48', 'DEST_49', 'DEST_50', 'DEST_51',
       'DEST_52', 'DEST_53', 'DEST_54', 'DEST_55', 'DEST_56', 'DEST_57',
       'DEST_58', 'DEST_59', 'DEST_60', 'DEST_61', 'DEST_62', 'DEST_63',
       'DEST_64', 'DEST_65', 'DEST_66', 'DEST_67', 'DEST_68', 'DEST_69',
       'DEST_70', 'DEST_71', 'DEST_72', 'DEST_73', 'DEST_74', 'DEST_75',
       'DEST_76', 'DEST_77', 'DEST_78', 'DEST_79', 'DEST_80', 'DEST_81',
       'DEST_82', 'DEST_83', 'DEST_84', 'DEST_85', 'DEST_86', 'DEST_87',
       'DEST_88', 'DEST_89', 'DEST_90', 'DEST_91', 'DEST_92', 'DEST_93',
       'DEST_94', 'DEST_95', 'DEST_96', 'DEST_97', 'DEST_98', 'DEST_99',
       'DEST_100', 'DEST_101', 'DEST_102', 'DEST_103', 'DEST_104',
       'DEST_105', 'DEST_CITY_NAME_0', 'DEST_CITY_NAME_1',
       'DEST_CITY_NAME_2', 'DEST_CITY_NAME_3', 'DEST_CITY_NAME_4',
       'DEST_CITY_NAME_5', 'DEST_CITY_NAME_6', 'DEST_CITY_NAME_7',
       'DEST_CITY_NAME_8', 'DEST_CITY_NAME_9', 'DEST_CITY_NAME_10',
       'DEST_CITY_NAME_11', 'DEST_CITY_NAME_12', 'DEST_CITY_NAME_13',
       'DEST_CITY_NAME_14', 'DEST_CITY_NAME_15', 'DEST_CITY_NAME_16',
       'DEST_CITY_NAME_17', 'DEST_CITY_NAME_18', 'DEST_CITY_NAME_19',
       'DEST_CITY_NAME_20', 'DEST_CITY_NAME_21', 'DEST_CITY_NAME_22',
       'DEST_CITY_NAME_23', 'DEST_CITY_NAME_24', 'DEST_CITY_NAME_25',
       'DEST_CITY_NAME_26', 'DEST_CITY_NAME_27', 'DEST_CITY_NAME_28',
       'DEST_CITY_NAME_29', 'DEST_CITY_NAME_30', 'DEST_CITY_NAME_31',
       'DEST_CITY_NAME_32', 'DEST_CITY_NAME_33', 'DEST_CITY_NAME_34',
       'DEST_CITY_NAME_35', 'DEST_CITY_NAME_36', 'DEST_CITY_NAME_37',
       'DEST_CITY_NAME_38', 'DEST_CITY_NAME_39', 'DEST_CITY_NAME_40',
       'DEST_CITY_NAME_41', 'DEST_CITY_NAME_42', 'DEST_CITY_NAME_43',
       'DEST_CITY_NAME_44', 'DEST_CITY_NAME_45', 'DEST_CITY_NAME_46',
       'DEST_CITY_NAME_47', 'DEST_CITY_NAME_48', 'DEST_CITY_NAME_49',
       'DEST_CITY_NAME_50', 'DEST_CITY_NAME_51', 'DEST_CITY_NAME_52',
       'DEST_CITY_NAME_53', 'DEST_CITY_NAME_54', 'DEST_CITY_NAME_55',
       'DEST_CITY_NAME_56', 'DEST_CITY_NAME_57', 'DEST_CITY_NAME_58',
       'DEST_CITY_NAME_59', 'DEST_CITY_NAME_60', 'DEST_CITY_NAME_61',
       'DEST_CITY_NAME_62', 'DEST_CITY_NAME_63', 'DEST_CITY_NAME_64',
       'DEST_CITY_NAME_65', 'DEST_CITY_NAME_66', 'DEST_CITY_NAME_67',
       'DEST_CITY_NAME_68', 'DEST_CITY_NAME_69', 'DEST_CITY_NAME_70',
       'DEST_CITY_NAME_71', 'DEST_CITY_NAME_72', 'DEST_CITY_NAME_73',
       'DEST_CITY_NAME_74', 'DEST_CITY_NAME_75', 'DEST_CITY_NAME_76',
       'DEST_CITY_NAME_77', 'DEST_CITY_NAME_78', 'DEST_CITY_NAME_79',
       'DEST_CITY_NAME_80', 'DEST_CITY_NAME_81', 'DEST_CITY_NAME_82',
       'DEST_CITY_NAME_83', 'DEST_CITY_NAME_84', 'DEST_CITY_NAME_85',
       'DEST_CITY_NAME_86', 'DEST_CITY_NAME_87', 'DEST_CITY_NAME_88',
       'DEST_CITY_NAME_89', 'DEST_CITY_NAME_90', 'DEST_CITY_NAME_91',
       'DEST_CITY_NAME_92', 'DEST_CITY_NAME_93', 'DEST_CITY_NAME_94',
       'DEST_CITY_NAME_95', 'DEST_CITY_NAME_96', 'DEST_CITY_NAME_97',
       'DEST_CITY_NAME_98', 'DEST_CITY_NAME_99', 'DEST_CITY_NAME_100',
       'DEST_CITY_NAME_101', 'DEST_STATE_ABR_0', 'DEST_STATE_ABR_1',
       'DEST_STATE_ABR_2', 'DEST_STATE_ABR_3', 'DEST_STATE_ABR_4',
       'DEST_STATE_ABR_5', 'DEST_STATE_ABR_6', 'DEST_STATE_ABR_7',
       'DEST_STATE_ABR_8', 'DEST_STATE_ABR_9', 'DEST_STATE_ABR_10',
       'DEST_STATE_ABR_11', 'DEST_STATE_ABR_12', 'DEST_STATE_ABR_13',
       'DEST_STATE_ABR_14', 'DEST_STATE_ABR_15', 'DEST_STATE_ABR_16',
       'DEST_STATE_ABR_17', 'DEST_STATE_ABR_18', 'DEST_STATE_ABR_19',
       'DEST_STATE_ABR_20', 'DEST_STATE_ABR_21', 'DEST_STATE_ABR_22',
       'DEST_STATE_ABR_23', 'DEST_STATE_ABR_24', 'DEST_STATE_ABR_25',
       'DEST_STATE_ABR_26', 'DEST_STATE_ABR_27', 'DEST_STATE_ABR_28',
       'DEST_STATE_ABR_29', 'DEST_STATE_ABR_30', 'DEST_STATE_ABR_31',
       'DEST_STATE_ABR_32', 'DEST_STATE_ABR_33', 'DEST_STATE_ABR_34',
       'DEST_STATE_ABR_35', 'DEST_STATE_ABR_36', 'DEST_STATE_ABR_37',
       'DEST_STATE_ABR_38', 'DEP_TIME_BLK_0', 'DEP_TIME_BLK_1',
       'DEP_TIME_BLK_2', 'DEP_TIME_BLK_3', 'DEP_TIME_BLK_4',
       'DEP_TIME_BLK_5', 'DEP_TIME_BLK_6', 'DEP_TIME_BLK_7',
       'DEP_TIME_BLK_8', 'DEP_TIME_BLK_9', 'DEP_TIME_BLK_10',
       'DEP_TIME_BLK_11', 'DEP_TIME_BLK_12', 'DEP_TIME_BLK_13',
       'DEP_TIME_BLK_14', 'DEP_TIME_BLK_15', 'DEP_TIME_BLK_16',
       'DEP_TIME_BLK_17'],
      dtype='|S20')

In [33]:
columns_not_one_hot = np.array([col for col in df.columns if not is_number(col[-1])])
columns_not_one_hot

array(['QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_NUM',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'DISTANCE',
       'DISTANCE_GROUP', 'IS_DELAYED', 'YDAY'],
      dtype='|S15')

### Note for one hot encoded values
We are not exploring the skewness and kurtosis, or do any other exploration, of the one hot encoded values since we would not like to change these values at least as a first approach. These are coming from categories and it is important for now all categories to be represented with the "1" every time as all are being treated equally.
So we are not going to transform them.

In [34]:
df[columns_not_one_hot].describe()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_NUM,DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,DISTANCE,DISTANCE_GROUP,YDAY
count,186308.000000,186308.000000,186308.000000,186308.000000,186308.000000,186308.000000,186308.000000,186308.000000,186308.000000,186308.000000,186308.000000
mean,2.487215,6.472454,15.772973,3.905136,1659.059954,1408.828258,31.136382,1.330437,1057.860779,4.708145,182.244262
std,1.097443,3.370194,8.794713,1.969903,1539.062799,525.459738,67.484444,3.261172,714.357618,2.767207,103.442565
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-31.000000,-2.000000,94.000000,1.000000,1.000000
25%,2.000000,4.000000,8.000000,2.000000,455.000000,1000.000000,-4.000000,-1.000000,544.000000,3.000000,92.000000
50%,3.000000,7.000000,16.000000,4.000000,1266.000000,1444.000000,4.000000,0.000000,950.000000,4.000000,183.000000
75%,3.000000,9.000000,23.000000,5.000000,2172.000000,1840.000000,42.000000,2.000000,1381.000000,6.000000,269.000000
max,4.000000,12.000000,31.000000,7.000000,7439.000000,2400.000000,1435.000000,12.000000,4983.000000,11.000000,366.000000

In [35]:
Xtrain = df.drop(labels=[target_col], axis=1)

In [36]:
ytrain = df[target_col]

In [38]:
columns_to_explore = columns_not_one_hot[columns_not_one_hot != target_col]
#assert (len(columns_to_explore) + 1) == len(columns_not_one_hot)
len(columns_to_explore)

11